spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springboot
    username: "postgres"
    password: "0000"
    driverClassName: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
        show_sql: true
    hibernate:
      ddl-auto: update
      generate-ddl: true